<!DOCTYPE html>
<html lang="en">
<head>
    <title>단축 URL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h1>단축 URL</h1>
</div>
<div>
    <form>
    <input type="text" name="originUrl" id="originUrl"/>
    <button type="button" id="btn_save">만들기</button>
    </form>
    <br/>

    <div>
        단축 URL:
        <a id="shortUrl"></a>
        <br/>
        횟수 :
        <a id="requestCount"></a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/app/index.js"></script>
</body>
</html>